[color]
	ui = true
[color "status"]
  added = green
  changed = yellow
  untracked = red
[core]
  excludesfile = "~/.cvsignore"
[alias]
  st = status --short --branch
  co = checkout
  my-commits = log --author='Jack Dewinter' --author-date-order --date=format:'%a %b %d %r' --format='%h | %ad | %s'